# Dependencias globales (por si acaso)
node_modules/

# Logs
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Builds
dist/
build/
out/