@import "./variables.css";

/* 🔁 Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 🌐 Estructura general */
html, body, #root {
  height: 100%;
  font-family: var(--font-main);
  background-color: var(--color-secondary);
  color: var(--color-text-light);
}

/* Elementos comunes */
a {
  text-decoration: none;
  color: inherit;
}

button, input{
  font-family: inherit;
  outline: none;
}

/* 🧭 Scroll minimalista */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: var(--radius);
}