:root {
  /* 🎨 Colores principales */
  --color-primary: #004e92;
  --color-secondary: #002147;
  --color-text-dark: #222;
  --color-text-light: #fff;
  --color-border: #ccc;
  --color-gray: #444;
  --color-gray-light: #f3f3f3;

  /* 🖋️ Tipografía */
  --font-main: "Poppins", sans-serif;

  /* 📏 Dimensiones y bordes */
  --radius: 10px;
  --shadow: 0 10px 35px rgba(0, 0, 0, 0.35);
  --transition: 0.3s ease;

}